body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
  background: #dcdbe9;
}

h1 {
  color: #2c3e50;
}

button {
  padding: 8px 15px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #3498db;
  color: white;
}

button:hover {
  background-color: #2980b9;
}

#numberList {
  list-style: none;
  padding: 0;
}
